@import "reset";

body {
  overflow: hidden;
  height: 100dvh;
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;

  section.header.container {
    height: 10vh;
    width: 100%;

    article {
      height: 100%;
      width: 100%;

      .header-nav-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }

      .header-nav-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 13vw;
      }

      .header-title {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.5rem;
      }
      .header-menu-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 10%;
        cursor: pointer;

        .header-menu-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          transition: transform 0.3s ease-in-out;
        }

        .header-menu-icon:hover {
          color: #d8cfcf;
        }

        .dropdown-menu {
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: left;
          position: absolute;
          top: 13%;
          left: -25%;
          z-index: 1000;
          border: 1px solid #d8cfcf;
          border-radius: 15px;
          background-color: #6762622a;
          transition: left 0.3s ease-in-out;
          padding: 6px;
          width: 15vw;
          height: 30vh;
          overflow-y: auto;
          scrollbar-width: thin;
          scrollbar-color: #ffffff #1e1e1e;
          cursor: default;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            padding: 0.5rem;
          }

          a {
            text-decoration: none;
            color: #ffffff;
            cursor: default;
          }

          li:hover {
            color: #1e1e1e;
            font-weight: bold;
            cursor: default;
          }
        }

        .dropdown-menu.show {
          left: 1%;
          transition: left 0.3s ease-in-out;
        }

        .rotate {
          transform: rotate(90deg);
          transition: transform 0.3s ease-in-out;
        }
      }

      .header-nav-search {
        // border: 1px solid #ffee00;
        height: 100%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        .header-search-container {
          border: 1px solid #3f433f;
          width: 50%;
          height: 66%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          transition: border 0.3s ease-in-out;
          background-color: #3f433f56;

          input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            color: #ffffff;
            padding-left: 1.5rem;
          }

          input::placeholder {
            color: #ffffff56;
          }

          input:focus {
            border: 1px solid #ffffff;
            border-radius: 25px;
            transition: border 0.3s ease-in-out;
          }
        }

        .header-search-results {
          display: none;
          transition: display 0.3s ease-in-out;
        }

        .header-search-results.show {
          border: 1px solid #3f433f;
          border-radius: 25px;
          position: absolute;
          top: 10%;
          left: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80%;
          width: 60%;
          overflow-y: auto;
          scrollbar-width: thin;
          scrollbar-color: #ffffff #1e1e1e;
          background-color: #3f433fe8;
          z-index: 1000;
          transition: height 0.3s ease-in-out;
          // flouter le background
          backdrop-filter: blur(5px);
        }

        .grid {
          width: 100%;
          overflow-x: auto;
          margin-top: 20px;

          table {
            width: 100%;
            border-collapse: collapse;
            margin: 0 auto;
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;

            th,
            td {
              padding: 12px 15px;
              border: 1px solid #ddd;
              text-align: left;
            }

            th {
              background-color: #4caf50;
              color: white;
            }

            tr:nth-child(even) {
              background-color: #f2f2f2;
            }

            tr:hover {
              background-color: #ddd;
            }

            td {
              color: #333;
            }
          }
        }
      }

      .header-nav-user {
        display: flex;
        justify-content: right;
        align-items: center;
        height: 70%;
        width: 20vw;

        .header-nav-user-button {
          border: 1px solid #ffffff;
          border-radius: 10px;
          padding: 0.5rem;
          margin: 0.5rem;
          height: 66%;
          width: 20rem;
          background-color: #3f433f56;
          color: #ffffff;
          font-size: 1.2rem;
          font-family: "Roboto", sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .header-nav-user-button:hover {
          background-color: #ffffff;
          color: #1e1e1e;
          font-weight: bold;
        }
      }
      .header-nav-user-register {
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        place-items: center;
        transition: display 0.3s ease-in-out;
        position: absolute;
        top: 10%;
        right: -2%;
        width: 20%;
        height: 30%;
        background-color: #1e1e1e;
        z-index: 1000;
        backdrop-filter: blur(5px);

        form {
          display: flex;
          flex-direction: column;
          place-items: center;
        }

        .header-nav-user-register-input {
          border: 1px solid #3f433f;
          border-radius: 10px;
          padding: 0.5rem;
          margin: 0.5rem;
          height: 2rem;
          width: 100%;
          color: #ffffff56;
          font-size: 1.2rem;
          font-family: "Roboto", sans-serif;
          text-align: center;
          background-color: #3f433f56;
          color: #ffffff;
        }

        label {
          font-size: 1.2rem;
          font-weight: bold;
        }

        input[type="submit"] {
          border: 1px solid #3f433f;
          border-radius: 10px;
          padding: 0.5rem;
          margin: 0.5rem;
          height: 2rem;
          width: 100%;
          background-color: #3f433f56;
          color: #ffffff56;
          font-size: 1.2rem;
          font-family: "Roboto", sans-serif;
        }
      }
    }
  }

  section.app.container {
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: start;
    height: 100dvh;
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding-top: 10px;

    article {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .title-headings {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          font-size: 2rem;
        }
      }

      .form-wrapper {
        display: flex;
        width: 100%;

        form {
          width: inherit;

          .form-field {
            width: 100%;
            padding: 10px 10px;
            border-radius: 8px;
          }

          fieldset {
            border: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }

          .button {
            margin-top: 2rem;
            background-color: #ffffff;
            border: 1px solid #222222;
            border-radius: 8px;
            box-sizing: border-box;
            color: #222222;
            cursor: pointer;
            display: inline-block;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
              "Helvetica Neue", sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            outline: none;
            padding: 13px 23px;
            position: relative;
            text-align: center;
            text-decoration: none;
            touch-action: manipulation;
            transition: box-shadow 0.2s, -ms-transform 0.1s,
              -webkit-transform 0.1s, transform 0.1s;
            user-select: none;
            -webkit-user-select: none;
            width: 100%;

            &:focus-visible {
              box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
              transition: box-shadow 0.2s;
            }

            &:active {
              background-color: #f7f7f7;
              border-color: #000000;
              transform: scale(0.96);
            }

            &:disabled {
              border-color: #dddddd;
              color: #dddddd;
              cursor: not-allowed;
              opacity: 1;
            }
            &:hover{
              border: 1px solid #ffffff;
              background-color: #333;
              color: #f7f7f7 ;
            }
          }
        }
      }

      .address-wrapper {
        max-height: 500px;
        height: 100%;
        overflow-y: auto;
        padding: 2rem;
        background-color: #3e3e3e;
        border: 1px solid black;
        border-radius: 8px;
      }
      .delete-button{
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 0.5rem;
        margin: 0.5rem;
        height: 50%;
        width: 5rem;
        background-color: #3f433f56;
        color: #ffffff;

        &:hover{
          background-color:#ffffff ;
          color: #333;
        }
      }
    }
  }

  footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    p {
      position: relative;
    }
  }
}

@import "container";
